:root {
    --theme-color: white;
    --primary-color: #221597;
    --secundary-color: #e29420;
    --text-color-inverse: rgb(218, 216, 216);
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #3A4460;
  }

  html {
    scroll-behavior: smooth;
  }
  
  section[id] {
    scroll-margin-top: 75px;
  }

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    padding-top: 70px;
    z-index: 2;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.horizontal-padding {
    padding-left: 25px;
    padding-right: 25px;
  }
  .vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  @media (min-width: 950px) {
    .horizontal-padding {
      padding-left: 70px;
      padding-right: 70px;
    }
    .vertical-padding {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }